                {% for idea in ideas %}
                <div class="idea">
                    <img src="{{idea.image}}" alt="{{idea.title}}">
                    <div class="content">
                        <h3>{{idea.title}}</h3>
                        <p>{{idea.category}}</p>
                        <div class="description">
                            {{idea.description}}
                        </div>
                        <div class="options">
                            <a href="{{idea.link}}" target="_blank">Ir para Ideia</a>
                            {% if showDelete %}
                            <a class="button" href="/ideias/{{idea.id}}/delete" onclick="deleteIdea()">Apagar</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {%endfor%}